<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="css/index.css" />
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="./components/jquery-3.2.0-min.js"></script>
    <script>if (window.module) module = window.module;</script>
  </head>
  <body>
    <p>This is next page.</p>
    <button id="goBackBtn">Back</button>

    <script src="../controller/view/next.js"></script>
  </body>
</html>
